<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author }}"/>
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/effector-wide.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/tricolore.css">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS for {{ site.title }}" href="/feed/">
</head>
<body onload="prettyPrint()">

  <div class="container">
      <h1 class="sitename">卡片创作通讯</h1>
      <div class="nav">
<a href="/">主页</a>
<a href="/archive/">存档</a>
<a href="/about">关于</a>
<a href="/feed/">订阅</a>
</div>
{{ content }}
</div>
{% if page.url != "/" %}
{% endif %}


</body>
</html>
